*{
    background-color: rgb(36, 35, 35);
}


.stock-news{
    display: flex;
    margin-top: 10rem;
    margin-left:8rem;
    /* justify-content: space-around; */
}


.current-news-box{
    background-color: rgb(44, 43, 43);
    width: 40%;
    height: 40vh;
    box-shadow: 0 5px 25px  rgb(0, 0, 0);
    border-radius: 12px;
}

.current-stock-details{
    background-color: rgb(44, 43, 43);
    width: 50%;
    height: 40vh; 
    box-shadow: 0 5px 25px  rgb(0, 0, 0);
    border-radius: 12px;
    margin-left:5rem;

}